/*============ GOOGLE FONTS =========== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/*============ Variables CSS ========== */
:root {
    /*=========== Colors ============= */
    --first-color: #4D49BF;
    --second-color: #05DBF2;
    --body-color: #DFE9F2;
    --title-color: #1C1C22;
    --text-color: #58576B;

    /*========== Font and typography ==========*/
    --body-font: 'Montserrat', sans-serif;
    --normal-font-size: 1.5rem;
    --h1-font-size: 2rem;
    --h3-font-size: 1.125rem;
    --small-font-size: .75rem;
}

@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1.5rem;
        --h1-font-size: 2rem;
        --h3-font-size: 1.25rem;
        --small-font-size: .813rem;
    }
}

/*========== BASE ==========*/
*,::before,::after{
    box-sizing: border-box;
  }

  body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
  }

  a{
      text-decoration: none;
  }


  /*===============  Header Styles ===============*/
#main-header{
    display: grid;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.main_heading{
    font-size: var(--normal-font-size);
    margin-top: 1rem;
}

#main-logo{
    font-size: var(--h1-font-size);
    color: var(--title-color);
}