<div class="card__glass">
                    <img src="" alt="" class="card__img">
                        <div class="card__data">
                                <h3 class="card__title">{{ title }}</h3>
                                <span class="card__profession">{{ location }}</span>
                            </div>

                    <div class="card__button">
                            <a href="{% url 'meetup-detail' meetup_item.slug %}" class="btn">More Details</a>
                    </div>

                <div class="card__social">
                    <a href="#" class="card__link"><i class='bx bxl-instagram'></i></a>
                    <a href="#" class="card__link"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="card__link"><i class='bx bxl-twitter'></i></a>
                </div>
</div>